<!--PANEL-->
<div class="panel">

     <details open>
     <summary>Pages</summary>
       <div id="PageList">

        <table id="AllList">
    
  
        {{range $k,$v := .List}}
          <tr>
            <td><input type="checkbox" name="row_{{$k}}" /></td>
     
            <td>
              <a href="/{{$.Globals.AdminSlug}}/static/generator/{{$v.key}}" class="listItem">[+] {{$v.title}}</a>
            </td>
            <td>
              {{$v.slug}}
            </td>
          </tr> 
            
        {{end}}
        </table>
      </div>
      </details> 

<!--END PANEL-->
</div>

    <!--SIDEBAR-->
    <div id="Sidebar">

    <!--CLOSE BTN-->
    <div id="SidebarCloseBtn"> ><br />> </div>


         <!-- INFO-->
     <details open>
     <summary> Info</summary>
     <p><h4>Global Bucket:</h4> {{.Data.global_bucket_name}}</p>
     <p><h4>Bucket Name:</h4> {{.Data.bucket_name}}</p>
     <p><h4>Storage Class:</h4> {{.Data.storageClass}}</p>
     <p><h4>Location:</h4> {{.Data.location}}</p>



    </details> 

    <div class="clear"></div>

    <!--END SIDEBAR-->
    </div>

 
 <!--QUOTE OF THE DAY
<div id="QOD">
  
  <progress id="ProgressBar" value="0" max="100">Uploading image...</progress>


</div>-->

  
      


<!--STYLES-->
<style>
.panel {
  margin-left: 50px;
}

ul#ServiceChecks {
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  height: 220px;
  margin-top: -20px;
}

ul#ServiceChecks li {
  font-size: 58px;
  height: 36px;
}


li.checkOnline {
  color: #0f0;
}

li.checkOffline {
  color:#f00;
}

ul#ServiceChecks li span {
  color:#000;
    font-size: 14px;
    text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

h1 {
  margin: 0px;
  padding: 0px;
}
</style>

<script type="text/javascript">

//READY DOC
$(document).ready(function(){

  //WELCOME
  console.log('Welcome...create a static page if you like...');

//CLICK  BUTTONS
$("#AllList").on('click',"a.listItem",function(event){
      
      //PREVENT DEFAULT
      event.preventDefault();
      
      //GRAB URL
      var url = event.target.href;

      //GRAB ROW INDEX
      //var index = Number(event.target.parentNode.parentNode.rowIndex);
     // console.log(event);
      //console.log(url);

    //CONFIRM SETUP
    alertify.set({ 
      labels: {
        ok:"Yes",
        cancel:"No"
      },
      buttonReverse:true

    });

    //CONFIRM
    alertify.confirm("Are you sure you want to create a static page?", function(e){

      //YES
      if(e){

        //AJAX
        $.ajax({
           type: "POST",
           url: url,
           success: function(res){
              //RESET FORM              
              //ResetForm(); 
              
              //DELETE ROW
              //$("#List")[0].deleteRow(index);
               console.log(res);
              //ALERT
              alertify.success(res);
           }

        //END AJAX
        });
      }

    //END CONFIRM       
    });
      

       

  //END CLICK
  }); 




/*
    //AJAX
      $.ajax({
         type: "GET",
         url: "http://quotes.rest/qod.json?category=inspire",
          cache: true,
          contentType: false,
          processData: false,
          success: function(res){

            console.log("Success returning from GoodReads.com!");
            getIMG(res.contents.quotes[0].background, res.contents.quotes[0].quote);

          }
        });



  function getIMG(img,quote){
    //AJAX
      $.ajax({
         type: "GET",
         url: img,
          cache: true,
          //contentType: "image/jpg",
          dataType: "image/jpeg",
          xhr: function(){
              

                var xhr = $.ajaxSettings.xhr();
                    xhr.upload.onprogress = function(evt){ 
                      var PercentFin = Math.floor(evt.loaded / evt.total * 100);
                      $("#ProgressBar")[0].value = PercentFin;

                    };

                    return xhr;
          },

         success: function(res){

            console.log("Success image received!");
            console.log(quote);
          }

      });
  
  //END FUNC
  }
*/

//END DOC
});

</script>



<!--
<div id="embed-api-auth-container"></div>
<div id="chart-container"></div>
<div id="view-selector-container"></div>



<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: 'embed-api-auth-container',
  });


  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();


  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */
  var dataChart = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:sessions',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-container',
      type: 'LINE',
      options: {
        width: '100%'
      }
    }
  });


  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    dataChart.set({query: {ids: ids}}).execute();
  });

});
</script>


</section>-->