﻿<!DOCTYPE html>
<html>
<head>

  <title>{{.title}}</title>
  

  <!--META-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='{{.description}}'>
  <meta name='keywords' content='{{.keywords}}'>

  <link rel='icon' href='/favicon.ico' type='image/x-icon' />

  <!--CSS LOCAL-->
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/admin.css' />
 <!-- <link rel='stylesheet' type='text/css' href='/admin/static/dir/admin_desktop.css' />
  
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/admin_mobile.css' />-->

  <!--CSS LIBS-->
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css" />
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css' />
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.4.4/materia/bulmaswatch.min.css">
<!--  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css'>-->



<!--
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/alertify.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/codemirror.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/spinners.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/alertify.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/common.css' />

  -->

  {{if .css}}<link rel='stylesheet' type='text/css' href='{{.css}}' />{{end}}

<!--
  <script type='text/javascript'  src='/admin/static/dir/jquery.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/alertify.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/keymaster.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/sortable.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/codemirror.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/mode/xml/xml.js'></script>
-->

<!--JS LIBS CLOUD-->
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>


  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/keymaster/1.6.1/keymaster.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.1/tablesort.min.js'></script>


  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/css/css.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/addon/edit/closetag.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.28.0/addon/hint/css-hint.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.28.0/addon/hint/html-hint.min.js'></script>


<!--JS LIBS LOCAL
  <script src="https://use.fontawesome.com/c119c0686e.js"></script>

  <script type='text/javascript'  src='/admin/static/dir/libs/autosize.input.js'></script>
  <script type='text/javascript'  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>

-->
<script type='text/javascript'  src='/admin/static/dir/common.js'></script>


<!--DEPRACATING-->
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.min.css' />
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.default.min.css' />
  <script type='text/javascript'  src='https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js'></script>



  {{if .js}}<script type='text/javascript' src='{{.js}}'></script>{{end}}

</head>


<body>
<!--CONTAINER
<div class="container">
-->

    <!--NAV--
    <ul class="topnav">

      <!--SECTION EDITOR--
      <li>
         <a href='/{{.AdminSlug}}/editor'  class="">Editor</a>
         </li>
      <!--SECTION DATA--
      <li>
          <div class="sub_shell">
          <a href="#" onclick="mySubMenu()" class="sub_link">Data</a>
   
          <ul id="menu_data" class="sub_menu sm1">

            <li><a class="sub_item" href='/{{.AdminSlug}}/pages/list'>Pages </a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/data/item'>Content</a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/data/type'>Types</a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/files/'>Images</a></li>

          </ul>
        </div>
      </li>

      <!--SECTION THEMES--
      <li>
          <div class="sub_shell">
          <a href="#" onclick="mySubMenu2()" class="sub_link">Design</a>
   
          <ul id="menu_themes" class="sub_menu sm2">
 
            <li><a class="sub_item" href='/{{.AdminSlug}}/core/'>Core</a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/style/'>Styles</a></li>

          </ul>
        </div>
      </li>

      <!--SECTION UTILS--
      <li>
          <div class="sub_shell">
          <a href="#" onclick="mySubMenu3()" class="sub_link">Utils</a>
   
          <ul id="menu_utils" class="sub_menu sm3">
            <li><a class="sub_item" href='/{{.AdminSlug}}/settings'>Settings</a></li>
            <li><a class="sub_item" href='/' target="_blank" id="SM_ViewSite">View Site</a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/cache/flush' id="Flush">Flush Cache</a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/static/generator/' >Static Generator</a></li>
            <li><a class="sub_item" href='/{{.AdminSlug}}/stats' >Stats</a></li>

            <li><a class="sub_item" href='{{.logout}}' id="SM_LogOut">Logout</a></li>
        <!--    <li><a class="sub_item" href='https://console.cloud.google.com/appengine' target="_blank">Cloud Console</a></li>
            <li><a class="sub_item" href='https://console.cloud.google.com/storage/browser' target="_blank">Storage Console</a></li>
         --
          </ul>
        </div>
      </li>


      <li>

         <a href="#" onclick="mySubMenu4()" class="sub_link">Cloud</a>
   
          <ul id="menu_utils" class="sub_menu sm3">
            <li><a class="sub_item" href='https://console.cloud.google.com/appengine' target="_blank">App Engine</a></li>
            <li><a class="sub_item" href='https://console.cloud.google.com/storage/browser' target="_blank">Storage Console</a></li>
          </ul>
  

      </li>

      <!--OTHER TOP LEVEL LINKS
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>--
    </ul>

-->

<!--SHELL
<div class="shell">-->

    <!--MENU OVERLAY
     <div class="menu_overlay" onclick="myMenu()"></div>
-->


<!--HEADER-
<div id="header">



  <!--MENU-
  <div id="menu">
  
      <!--MENU ICON
      <div class="icon">
        <a href="javascript:void(0);" onclick="myMenu()">☰</a>
      </div>-->

  <!--TAB BUTTONS-
    <div class="tabs is-centered">
      <ul id="main_buttons">
            <li id="main_btn1">
              <a href="/{{.AdminSlug}}/editor/">
                  <span class="icon is-small"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                  <span>Editor</span>
                </a>
            </li>


            <li  id="main_btn4">
              <a href="/{{.AdminSlug}}/files/">
                <span class="icon is-small"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                <span>Images</span>
              </a>
            </li>


            <li  id="main_btn5">
              <a href="/{{.AdminSlug}}/settings/">
                <span class="icon is-small"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                <span>Settings</span>
              </a>
            </li>
        </ul>
    </div>



  </div> 




</div>
END HEADER-->


<!--CONTENT
<div id="content">-->



