<!DOCTYPE html>
<html>
<head>

  <title>{{.title}}</title>
  
  <meta charset="utf-8">
  <meta name='description' content='{{.description}}'>
  <meta name='keywords' content='{{.keywords}}'>
  
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/alertify.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/common.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/codemirror.css' />
  <link rel='stylesheet' type='text/css' href='/admin/static/dir/spinners.css' />

  <link rel='icon' href='/favicon.ico' type='image/x-icon' />

  {{if .css}}<link rel='stylesheet' type='text/css' href='{{.css}}' />{{end}}

  <script type='text/javascript'  src='/admin/static/dir/jquery.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/alertify.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/keymaster.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/codemirror.js'></script>
  <script type='text/javascript'  src='/admin/static/dir/mode/xml/xml.js'></script>
  
  {{if .js}}<script type='text/javascript' src='{{.js}}'></script>{{end}}

</head>


<body>
<header>

<!--LOGO-->
 <div id='logo'>
  <!--class='ajax' href='/{{.AdminSlug}}/room'-->
    <a id="MenuLogo" >
      <h1>☰ &nbsp;</h1>
    </a>

       <div class="PageTitle">{{.title}}</div>

  </div>




  <!--TOP MENU-->
  <div id="TopMenu">


      <a href='/{{.AdminSlug}}/settings'>Settings</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href='/' target="_blank">View Site</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href='/{{.AdminSlug}}/cache/flush' id="Flush">Flush</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href='{{.logout}}'>Logout</a>

    
  </div>

  <!--ADMIN MENU-->
  <div id="AdminMenu">


  <nav>
    <ul class="menuLevel1">
    <li><a href='/{{.AdminSlug}}/pages/list'>Pages </a></li>
    <li><a href='/{{.AdminSlug}}/data/item'>Content</a></li>

    <li class='hasKids'><a href='/{{.AdminSlug}}/data/type'>Types</a>
       <!-- <ul class="menuLevel2">
          <li><a href='/{{.AdminSlug}}/data/type'>Data Types</a></li>
        </ul>-->
    </li>
        <li><a href='/{{.AdminSlug}}/files/'>Images</a></li>

<!--
    <li><a href='/{{.AdminSlug}}/design/'>Design</a></li>
    <li><a href='/{{.AdminSlug}}/settings'>Settings</a></li>
  -->
    <li><a href='/{{.AdminSlug}}/core/'>Core</a></li>
    <li><a href='/{{.AdminSlug}}/style/'>Styles</a></li>

    <!--<li><a href='/{{.AdminSlug}}/forms'>Forms</a></li>-->

    </ul>
    <div class='clear'></div>
  </nav>


  <!--HELP MENU-->
  <div id="HelpMenu">


      <a href='http://appengine.google.com' target="_blank">App Engine</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href='http://console.developers.google.com' target="_blank">Dev Console</a>
  </div>


<!--END ADMIN MENU-->
  </div>

     


</header>


<!--START SHELL-->
<div id="shell">

