<!--START SECTION-->
<section id='content' class="settings">


<br><br>




<!--EDIT-->
<div class="panel"> </div>

<!--FORM-->
  <form action="/{{.Globals.AdminSlug}}/settings/" id="EditForm" method="post" class="control_forms">


<!--EDITOR GRID-->
<div id="Editor">

<!--LEFT PANEL-->
<div id="LeftPanel" class="panel">

<div id="runtimeStats">

    <details open>
     <summary> CPU </summary>
     <ul>
      <li> Total: {{.Data.cpuTotal}}</li>
       <li>  1M: {{.Data.cpu1M}}</li>
       <li>  10M: {{.Data.cpu10M}}</li>

       </ul>
     </details>

<br />
    <details open>
     <summary> RAM </summary>
     <ul>
      <li>   Current: {{.Data.ramCurrent}}</li>
      <li>   1M: {{.Data.ram1M}}</li>
      <li>   10M: {{.Data.ram10M}}</li>
      </ul>
     </details>
</div>

<!--END LEFT PANEL-->
</div>

<!--CENTER PANEL-->
<div id="CenterPanel" class="panel">
    
{{range $k,$v := .List}}


<div id="settings_panel">

      <!-- SITE-->
     <details open>
     <summary> Site Settings</summary>

<!--SWITCH
        <div id="Site_Switch">
          <h3 class="formTitle">Site Settings</h3>
          
          <label>Site Closed</label>
          <br/>
<span class="radio_txt">
          <input type="radio" name="site_closed" class="control_forms"  value="online" {{if eq $v.SiteClosed "online" }}checked{{end}}/>
          Online&nbsp;&nbsp;|&nbsp;&nbsp;</span>
         
          <span class="radio_txt"> 
          <input type="radio" name="site_closed" class="control_forms"  value="offline"  {{if eq $v.SiteClosed "offline"}}checked{{end}}/>
         Offline</span>

          </div>
         -->
          <br>
          <br>
          <div><label>Site Title</label><br/><input type="input" name="site_title" placeholder="Site Title" value="{{$v.SiteTitle}}" class="control_forms" /></div>
          <br>
          <div><label>Admin Email</label><br/><input type="input" name="admin_email" placeholder="Admin Email" value="{{$v.AdminEmail}}" class="control_forms" /></div>

          <div><label>Google Analytics</label><br/><input type="input" name="site_analytics" placeholder="UA-1234-0" value="{{$v.SiteAnalytics}}" class="control_forms" /></div>
          <br>
          <div><label>Soon URL</label><br/><input type="input" name="soon_url" placeholder="Soon URL" value="{{$v.SoonURL}}" class="control_forms" /></div>
          <br>
    </details> 


          <!-- CACHE-->
     <details open>
     <summary> CACHE Settings</summary>

   
          <h3 class="formTitle">Cache Settings</h3>
          <div><label>Cache Control</label><br/><input type="input" name="cache_control" placeholder="Cache Control" value="{{$v.CacheControl}}" class="control_forms" /></div>
          <br>
          <div><label>Cache Days</label><br/><input type="input" name="cache_days" placeholder="Cache Days" value="{{$v.CacheDays}}" class="control_forms" /></div>
          <br>
          <div><label>Cache Months</label><br/><input type="input" name="cache_months" placeholder="Cache Months" value="{{$v.CacheMonths}}" class="control_forms" /></div>
          <br>

              </details> 

      <!--
          <h3 class="formTitle">Homepage Settings</h3>
          <div><label>Home Title</label><br/><input type="input" name="home_title" placeholder="Home Title" value="{{$v.HomeTitle}}" class="control_forms" /></div>
          <br>
          <div><label>Home Description</label><br/><input type="input" name="home_desc" placeholder="Home Description" value="{{$v.HomeDesc}}" class="control_forms" /></div>
          <br>
          <div><label>Home KeyWords</label><br/><input type="input" name="home_keyw" placeholder="Home KeyWords" value="{{$v.HomeKeyW}}" class="control_forms" /></div>
          <br>-->
      

      <!-- IMAGES-->
     <details open>
     <summary> Image Settings</summary>

          <h3 class="formTitle">Images</h3>
          <p>Coming Soon!</p>
    </details> 


    
    <br>
    <input type="hidden" name="token" value="{{/*.token*/}}" />



    <!--END SETTINGS PANEL-->
</div>

<!--END CENTER PANEL-->
</div>

<!--RIGHT PANEL-->
<div id="RightPanel" class="panel">
  


       <!--SIDEBAR-->
    <div id="Sidebar">

    <!--CLOSE BTN-->
    <div id="SidebarCloseBtn"> ><br />> </div>

    <!--SAVE-->
    <div id="form_page_savebtn">
      <input type="submit" value="Save" class="button" title="ctrl+s">
    </div>



<br />

          <!-- SITE-->
     <details open>
     <summary> Site Online</summary>

<br />
<br />

        <div id="Site_Switch">
       
             <div id="form_page_single">

      <!-- <label>Single Page</label><input id="input_single" type="checkbox" value="1" name="single" class="control_forms" />-->
      <label>Offline</label>
      <label class="switch">
  
        <input id="input_single"  name="site_online" type="checkbox" class="control_forms" {{if eq $v.SiteOnline "on"}}checked{{end}}/>
    
        <div class="slider round"></div>
    </label>
     <label>Online</label>

<br />
<br />
<br />

      </div> 
    <!--
<span class="radio_txt">
          <input type="radio" name="site_closed" class="control_forms"  value="online" {{if eq $v.SiteClosed "online" }}checked{{end}}/>
          Online&nbsp;&nbsp;|&nbsp;&nbsp;</span>
         
          <span class="radio_txt"> 
          <input type="radio" name="site_closed" class="control_forms"  value="offline"  {{if eq $v.SiteClosed "offline"}}checked{{end}}/>
         Offline</span>

          </div>
          -->

          </details>

           {{end}}

     <!--SERVICE CHECKS-->
     <details open>
     <summary>Service Checks</summary>
          <ul id="ServiceChecks">
            <li class="{{.Data.checkDataRead}}"><span>Database Read</span></li>
            <li class="{{.Data.checkDataWrite}}"><span>Database Write</span></li>
            <li class="{{.Data.checkMail}}"><span>Mail</span></li>
            <li class="{{.Data.checkCache}}"><span>Memcache</span></li>
            <li class="{{.Data.checkBlob}}"><span>Blobstore</span></li>
          </ul>
    </details>

         <!--SERVER INFO-->
     <details open>
     <summary>Server Info</summary>
               <span><b>Data Center:</b> {{.Data.dataCenter}}</span>
            <br />
            <span><b>Server:</b> {{.Data.serverSoftware}}</span>
            <br />
                        <span><b>Version:</b> {{.Data.versionID}}</span>
                        <br />
                        <span><b>User:</b> {{.Data.currentUser}}</span>



    </details>

    <div class="clear"></div>

    <!--END SIDEBAR-->
    </div>
   
    <!--END RIGHT PANEL-->
</div>


<!--END EDITOR-->
</div>
 

  </form>



<br />
<br />




<!--END SECTION-->
</section>

<!--STYLES-->
<style>

/*
  #submitBtn {
z-index: 2;
position: absolute;
bottom: 20px;
left: 44px;
    padding: 10px 40px;
    font: 14px arial;
    color: #fff;
  display: block;
  background: #555;
  border: 0px;
  border-radius: 4px;
  margin-left: 10px;
}

input#submitBtn:hover {
  background: #999;
  cursor: pointer;

}
*/

#Editor {
  width: 98%;
    display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-gap: 20px;
}


.panel {
  margin-left: 50px;
}

ul#ServiceChecks {
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  height: 220px;
  margin-top: -20px;
}

ul#ServiceChecks li {
  font-size: 58px;
  height: 36px;
}


li.checkOnline {
  color: #0f0;
}

li.checkOffline {
  color:#f00;
}

ul#ServiceChecks li span {
  color:#000;
    font-size: 14px;
    text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

h1 {
  margin: 0px;
  padding: 0px;
}


#settings_panel {
width: auto;
background: #dcdcdc;
margin:0px auto;
margin-top: 60px;
}

#tabs input[type='input'] {
    width: 90%;
  padding: 8px 4px;
  font: 12px arial;
  margin-bottom: 10px;
  margin-left: 5px;
}

#tabs {
  display: none;
    width: 600px;
  height: 350px;
    background: #f00;
    position: absolute;
    top: 148px;
    left: 50%;
    margin-left: -381px;
}

.tab {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background: #ccc;
      padding: 20px 50px;

}

#buttons {
  width: 600px;
  top: 120px;
      position: absolute;
    left: 50%;
    margin-left: -381px;
}
#buttons a {
  display: inline-block;
  padding: 8px 20px 14px 20px;
  background: #999;
  color: #fff;
  font: 12px arial;
  border-radius: 5px;
  margin-bottom: -10px;
}
#buttons a:hover {
  background: #777;
}

#buttons a.active {
  background: #555;
}

#tab1 {
    z-index: 1;
}

#DocBtns {
  margin-left: 510px;
}

#PageBarGutter {
  width: 300px !important;
}

ul#ServiceChecks li {
  font-size: 58px;
  height: 36px;
}


li.checkOnline {
  color: #0f0;
}

li.checkOffline {
  color:#f00;
}

ul#ServiceChecks li span {
  color:#000;
    font-size: 14px;
    text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

h3{
  margin: 0px;
  padding: 0px;
}
</style>

  

<script type="text/javascript">
$(document).ready(function(){

  console.log('Welcome to the Control Room');
  //CoolClock.findAndCreateClocks();


  //KEYBOARD SAVE
      //KEY FILTER OVERRIDE FOR INPUTS/TEXTAREAS/SELECTS
    key.filter = function(event){
      var tagName = (event.target || event.srcElement).tagName;
      key.setScope(/^(INPUT|TEXTAREA|SELECT)$/.test(tagName) ? 'input' : 'other');
      return true;
    }

     //SAVE PAGE WITH KEYBOARD
     key('⌘+s, ctrl+s', function(event){ 
        event.preventDefault();
        //alert('saving page');
        var form =  $("#EditForm")[0];
        console.log(form.action);
        submitForm(form.action);
     });




//SUBMIT FORM AJAX
function submitForm(url){

      //AJAX
      $.ajax({
         type: "POST",
         url: url,
         data: $("#EditForm").serialize(),
         success: function(res){


            //ALERT
            alertify.set('notifier','position', 'top-right');
            alertify.success(res.message);

            //IF KEY
            if(res.key){
              //addListItem(res);
            } else {
              //updateListItem(res.title);
            }
         }
       });

//END SUBMITFORM FUNC
}

 //GLOBALS
 var RowIndex;
  
  //CLICK SUBMIT BUTTON
  $("#EditForm").on('submit',function(event){
      event.preventDefault();
      var url = event.target.action;

      //console.log(event);
      //console.log($("#EditForm").serialize());
      submitForm(url);
/*
      //AJAX
      $.ajax({
         type: "POST",
         url: url,
         data: $("#EditForm").serialize(),
         success: function(res){
            //ALERT
            alertify.success(res.message);

            //IF KEY
            if(res.key){
              //addListItem(res);
            } else {
              //updateListItem(res.title);
            }
         }
       });*/

      return false;
  //END ON SUBMIT
   });



//END DOC
});

</script>