<!--STYLES-->
<style>
  #app {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: 0 1%;
  }
</style>

<!--*******************************APP*******************************-->

<!--APP-->
<div id="app">

    <!--START SECTION-->
    <section id='sectionContent'>


        <!--EDITOR GRID-->
        <div id="Editor">

              <!--PANEL LEFT-->
              <panel-left :items="items"></panel-left>

              <!--START FORM-->
              <form action="/{{.Globals.AdminSlug}}/pages/list/" id="EditForm" method="post" class="control_forms">

              <!--PANEL CENTER-->
              <panel-center></panel-center>

              <!--PANEL RIGHT-->
              <panel-right :items="items"></panel-right>

              <!--END FORM-->
              </form>

        <!--END EDITOR-->
        </div>

    <!--END SECTION-->
    </section>

<!--END APP-->
</div>


<!--******************************* LIST PAGES*******************************-->
<template id="ListPages">
  
    <!--RECENT LIST-->
    <table id="FullList">
    <tr v-for="(item,row) in items">
      <td class="itemEditTD">
        <a :href="'/{{$.Globals.AdminSlug}}/pages/edit/'+item.key" :data-row="row"  class="listItem" @click="loadItem">${item.title}</a>
      </td>

      <td class="viewItemFullTD">
        <a :href="item.slug" target="_blank" :data-row="row"  class="viewItemFull">[^]</a>
      </td>
 
      <td class="deleteItemFullTD">
        <a :href="'/{{$.Globals.AdminSlug}}/pages/delete/'+ item.key" :data-row="row" class="deleteItemFull" @click="deleteItem">[x]</a>
      </td>
    </tr>
  </table>

</template>

<!--******************************* OPTIONS PAGES*******************************-->
<template id="OptionsPages">

    <!--OPTIONS-->
    <details id="Options" open>
    <summary>Options</summary>
     
       <label>URL</label>
       <input id="input_slug" type="input" name="slug" v-model="slug" placeholder="/enter-your-title-here" class="control_forms" />

      <label>Page Title</label>
      <input id="input_page_title" type="input" name="pagetitle" v-model="pagetitle" placeholder="Page Title" class="control_forms" />
      
      
      <label>Description</label>
      <input type="input" name="description" placeholder="Description" v-model="description" class="control_forms" />
      

      <label>Keywords</label>
      <input type="input" name="keywords" placeholder="Keywords" v-model="keywords" class="control_forms" />

      <label>Single Page</label>
      <label class="switch">
        <input id="input_single" name="single" type="checkbox" value="1" v-model="single" class="control_forms">
        <div class="slider round"></div>
      </label>

    </details>

</template>

<!--******************************* EDITOR PAGES*******************************-->

<template id="EditorPages">

    <!--EDITOR-->
    <div class="CenterEditor">

          <!--PAGEBAR/TITLE INPUT-->
          <div id="PageBar">
            <input v-model="title" id="input_title" type="input" name="title" placeholder="Title..." @keyup="updateSlug" class="control_forms" size="1px" />
          </div>

          <!--EDITOR-->
          <textarea id="text_area_content" name="content" rows="3" cols="25"  v-model="content" class="control_forms"></textarea>

    </div>

</template>

<!--******************************* PANEL LEFT*******************************-->
<template id="Panel-Left">
  
  <!--LEFT PANEL-->
  <div id="LeftPanel" class="panel">

    <!--CLOSE-->
    <panel-btn-left></panel-btn-left>

    <!--NEW-->
    <panel-btn-new></panel-btn-new>
    
    <!--LIST PAGES-->
    <list-pages :items="items"></list-pages>

  <!--END LEFT PANEL-->
  </div>
</template>

<!--******************************* PANEL CENTER*****************************-->
<template id="Panel-Center">

    <!--CENTER PANEL-->
    <div id="CenterPanel" class="panel">

        <editor-pages></editor-pages>

    <!--END CENTER PANEL-->
     </div>

</template>


<!--******************************* PANEL RIGHT*******************************-->
<template id="Panel-Right">
  
  <!--RIGHT PANEL-->
  <div id="RightPanel" class="panel">

    <!--CLOSE-->
    <panel-btn-right></panel-btn-right>

    <!--SAVE-->
    <panel-btn-save></panel-btn-save>

    <!--OPTIONS PAGES-->
    <options-pages :items="items"></options-pages>


  <!--END RIGHT PANEL-->
  </div>

</template>

<!--****************************************BUTTONS*****************************************-->

<!--CLOSE BTN LEFT-->
<template id="Panel-Btn-Left">
      <div id="LeftPanelCloseBtn"><<br /><</div>
</template>

<!--CLOSE BTN RIGHT-->
<template id="Panel-Btn-Right">
    <div id="SidebarCloseBtn"> ><br />> </div>
</template>

<!--SAVE BTN-->
<template id="Panel-Btn-Save">
    <div id="form_page_savebtn">
      <input type="submit" value="Save" @click="saveItem" class="button" title="ctrl+s" />
    </div>
</template>

<!--NEW BTN-->
<template id="Panel-Btn-New">
    <div id="AddNewButton">
      <a href="/{{.Globals.AdminSlug}}/pages/add/" @click="newItem">New</a>
    </div>
</template>

<!--VUE JS-->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>

<!--JAVASCRIPT-->
<script>

var pageItem = {
      title: '',
      rowtitle: '',
      pagetitle: '',
      slug: '',
      description:'',
      keywords:'',
      single:'',
      content:'',
      row:''
    };

/************************* LIST PAGES ****************************/
Vue.component('list-pages',{
  template: '#ListPages',
  props: ['items'],
  delimiters: ['${', '}'],
   methods: {
              loadItem: function(e){

              //PREVENT DEFAULT
                  e.preventDefault();

                  //RESET FORM
                  app.$options.methods.ResetForm();

                  //NewItem = false;
                  app.isNewBool = false;

                  //GRAB URL
                  var url = e.target.href;
                  var row = e.target.dataset.row;

                  //CHANGE FORM URL
                  $("#EditForm").attr('action',url);

                  //AJAX LOAD SINGLE ITEM
                  $.ajax({
                    url:url,
                    success:function(resp){

                      var res = resp;
  
                      //SET DATA
                      pageItem.title = res.title;
                      pageItem.rowtitle = res.title;
                      pageItem.pagetitle = res.pagetitle;
                      pageItem.slug = res.slug;
                      pageItem.description = res.description;
                      pageItem.keywords = res.keywords;
                      pageItem.single = res.single;
                      pageItem.content = res.content;
                      pageItem.row = row;

                      //EDITOR SET VALUE
                     //editor.setValue(pageItem.content);
                      app.editor.setValue(pageItem.content);
                    }

                  //END AJAX 
                  });

              //END LOAD FUNC
              },

                deleteItem: function(e){
                
                //PREVENT DEFAULT
                e.preventDefault();
                
                //GRAB URL
                var url = e.target.href;

                //GRAB ROW INDEX
                var row = Number(e.target.dataset.row);

                //CONFIRM DIALOG
                swal({
                  title: 'Delete Item',
                  text: "Are you sure you want to delete this item?",
                  type: 'error',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: true

                }).then(function () {

                        //AJAX
                        $.ajax({
                           type: "POST",
                           url: url,
                           success: function(res){

                              //RESET FORM              
                              app.$options.methods.ResetForm();               
                              
                              //DELETE ROW
                              app.items.splice(row,1);
                               
                              //ALERT
                                swal(
                                  'Deleted!',
                                  res,
                                  'success'
                                );
                           }

                        //END AJAX
                        });


                }).catch(swal.noop);


            //END DELETE FUNC  
            }

        //END METHODS
        }

//END COMP  
});

/************************* OPTIONS PAGES ****************************/
Vue.component('options-pages',{
  template: '#OptionsPages',
  props: ['items'],
  delimiters: ['${', '}'],
  data: function(){
   return pageItem;
  }
});

/************************* EDITOR PAGES ****************************/
Vue.component('editor-pages',{
  template: '#EditorPages',
  props: ['items'],
  delimiters: ['${', '}'],
  data: function(){
   return pageItem;
  },
    methods: {
    updateSlug: function(e){
        
        e.preventDefault();

        //if(NewItem){
          if(app.isNewBool){

            //GET/SET TITLE
            var title = pageItem.title;
            pageItem.pagetitle = title;


            //MANIPULATE
            title = title.trim();
            title = title.replace(/\s/g,"-");
            title = title.toLowerCase();
            title = title.replace(/[^a-zA-Z0-9\-]/gi,"-");


            if(title.slice(-1) == "-"){
              var length = title.length;
                  length = length -1;
              title = title.substr(0,length);
            } 

            title = title.replace("--","-");
            title = title.replace("---","-");
           title = title.replace("----","-");

            //ASSIGN TITLE TO SLUG
           pageItem.slug = "/"+title;

          }

    //END FUNC UPDATESLUG
    }

  //END METHODS
  }
});


/************************* BUTTONS ****************************/
Vue.component('panel-btn-right',{
  template: '#Panel-Btn-Right'
});

Vue.component('panel-btn-left',{
  template: '#Panel-Btn-Left'
});

Vue.component('panel-btn-save',{
  template: '#Panel-Btn-Save',
   methods: {
    saveItem: function(e){
      e.preventDefault();
      var form = $("#EditForm")[0];
      app.$options.methods.submitForm(form.action);
    }
  }
});

Vue.component('panel-btn-new',{
  template: '#Panel-Btn-New',
   methods: {
    newItem: function(e){
      e.preventDefault();
      app.$options.methods.ResetForm();
    }
  }
});

/************************* PANELS ****************************/
//COMP PANEL RIGHT
Vue.component('panel-right',{
  template: '#Panel-Right',
  props: ['items']
});

//COMP PANEL LEFT
Vue.component('panel-left',{
  template: '#Panel-Left',
  props: ['items'],
  delimiters: ['${', '}']      
});

//COMP PANEL CENTER
Vue.component('panel-center',{
  template: '#Panel-Center',
  props: ['items'],
  delimiters: ['${', '}']
//END COMP
});

/*************************VUE****************************/

      //VUE ROOT
     var app =  new Vue({
        el: '#app',
        delimiters: ['${', '}'],

        data: {
            items: [],
            isNewBool: true,
            editor: Object
        },

        mounted: function(){

            //NEEDED
            var self = this;

            //LOAD DATA
             $.ajax({
               type: "GET",
                url: "/admin/editor",
                success: function(res){
                  self.items = res;
               }
             });

             //KEY FILTER OVERRIDE FOR INPUTS/TEXTAREAS/SELECTS
            key.filter = function(event){
              var tagName = (event.target || event.srcElement).tagName;
              key.setScope(/^(INPUT|TEXTAREA|SELECT)$/.test(tagName) ? 'input' : 'other');
              return true;
            }

             //SAVE PAGE WITH KEYBOARD
             key('⌘+s, ctrl+s', function(event){ 
                event.preventDefault();
                var form = $("#EditForm")[0];
                app.$options.methods.submitForm(form.action);
             });


              //CODE MIRROR
               self.editor = CodeMirror.fromTextArea(document.getElementById("text_area_content"), {
                  lineNumbers: true,
                  tabSize: 2,
                  indentWithTabs: true,
                  mode: 'text/html',
                  autoCloseTags: {
                    whenOpening: true,
                    indentTags: 'none'
                  }

                });

              self.editor.setSize("99%","100%");


        //END FUNC MOUNTED     
        },
        methods: {
          ResetForm: function(){
              var form = $("#EditForm");
                  form.attr('action','/{{.Globals.AdminSlug}}/pages/list/');
                  form[0].reset();

              var textareaItem = $("#EditForm textarea[name='content']");
                  textareaItem[0].innerHTML = "";

                  app.editor.setValue("");

                         //SET DATA
                        pageItem.title = "";
                        pageItem.pagetitle = "";
                        pageItem.slug = "";
                        pageItem.description = "";
                        pageItem.keywords = "";
                        pageItem.single = "";
                        pageItem.content = "";
                        pageItem.row = "";

                        //NewItem = true;
                        self.isNewBool = true;

            //END FUNC
            },
           submitForm: function(url){

              var titleVal = $("#input_title")[0].value;
              var editorVal = app.editor.getValue();
              var textareaItem = $("#EditForm textarea[name='content']");
                  
              //CHECK TITLE
              if(titleVal === ""){
                //ALERT
                swal(
                'No Title!',
                'You forgot to enter a Title',
                'error'
                ).catch(swal.noop);

                return;
              }

              //CHECK EDITOR
              if(editorVal === ""){
                //ALERT
                swal(
                'No Content!',
                'You did not enter any Content',
                'error'
                ).catch(swal.noop);

                return;
              }

              //GET IDE TEXT
              pageItem.content = editorVal;
              // myTextarea.innerHTML = editorVal;
               //textareaItem.innerHTML = editorVal;
              textareaItem[0].value = editorVal;


              var serialData = $("#EditForm").serialize();

                  //AJAX
                  $.ajax({
                     type: "POST",
                     url: url,
                     data: serialData,
                     success: function(res){


                           swal(
                            res.message,
                            'Item was saved successfully!',
                            'success'
                          ).catch(swal.noop);

                        
                        //IF KEY -> NEW ITEM
                        if(res.key){
                              console.log(res);

                            //ADD TO LIST
                            app.items.push(res);

                            //SETUP SUBMIT URL
                            var titleURL   = '/'+res.adminSlug+'/pages/edit/'+res.key;

                            //UPDATE FORM ACTION
                            var form = $("#EditForm");
                                form.attr('action',titleURL);

                            //SET NEWNESS
                            //NewItem = false;
                            self.isNewBool = false;

                        //NO KEY-> OLD ITEM
                        } else {
                          
                              //UPDATE LIST ITEM
                              var changedRow = Number(pageItem.row);
                              app.items[changedRow].title = pageItem.title;
                              app.items[changedRow].slug = pageItem.slug;

                        }

                    //END SUCCESS
                    }

                   //END AJAX 
                   });

            //END FUNC
            }
        
        //END METHODS  
        }


      //END VUE
      });

/***************************JQUERY***********************/

//START DOC
$(document).ready(function(){


//END DOC
});

/***************************GLOBALS***********************/

//VARS
//var myDataTypeSlug = document.getElementById("input_slug");
//var NewItem = true;

/***************************CODE MIRROR**********************
var myTextarea = document.getElementById("text_area_content");


//CODE MIRROR
 var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    tabSize: 2,
    indentWithTabs: true,
    mode: 'text/html',
    autoCloseTags: {
      whenOpening: true,
      indentTags: 'none'
    }

  });

editor.setSize("99%","100%");
*/
</script>

<!--OLD JS
  <script type='text/javascript'  src='/admin/static/dir/old_editor.js'></script>
-->