<!--<div id="ItemsList">

        <table id="AllList">
        {{range $k,$v := .List}}
          <tr>
            <td>
              <a href="/{{$.Globals.AdminSlug}}/pages/edit/{{$v.key}}" class="listItem">{{$v.title}}</a>
            </td>
            <td class="deleteItemTD">
              <a href="/{{$.Globals.AdminSlug}}/pages/delete/{{$v.key}}" class="deleteItem">x</a>
            </td>
          </tr> 
            
        {{end}}
        </table>
</div>-->

        <!--ADD
        <div id="AddNewButton">
          <a href="/#new">New</a>
        </div>-->





<!--START SECTION-->
<section id='sectionContent'>


<!--FORM
<form action="/{{.Globals.AdminSlug}}/pages/list/" id="EditForm" method="post" class="control_forms">
-->

<!--EDITOR GRID-->
<div id="Editor">

<!--LEFT PANEL-->
<div id="LeftPanel" class="panel">

   <!--CLOSE BTN-->
    <div id="LeftPanelCloseBtn"><<br /><</div>
    
    <!--START FULL ITEM LIST
    <div id="ListShell">-->


          <!--RECENT LIST-->
          <table id="FullList">
     
          {{range $k,$v := .List}}
            <tr>
              <td class="itemEditTD">
                <a href="/{{$.Globals.AdminSlug}}/pages/edit/{{$v.key}}" class="listItem">{{$v.title}}</a>
              </td>

              <td class="viewItemFullTD">
                <a href="{{$v.slug}}" target="_blank" class="viewItemFull">[^]</a>
              </td>
         

              <td class="deleteItemFullTD">
                <a href="/{{$.Globals.AdminSlug}}/pages/delete/{{$v.key}}" class="deleteItemFull">[x]</a>
              </td>
            </tr> 
          {{end}}
          </table>
    <!--END LIST SHELL
    </div>-->

<!--END LEFT PANEL-->
</div>




<form action="/{{.Globals.AdminSlug}}/pages/list/" id="EditForm" method="post" class="control_forms">

 <!--HIDDEN TITLE INPUT-->
              <input id="input_title"  type="hidden" name="title" placeholder="untitled..." width="100%"  data-autosize-input='{ "space": 0 }' class="control_forms" size="1px" autofocus>


<!--CENTER PANEL-->
<div id="CenterPanel" class="panel">

          <!--PAGEBAR-->
          <div id="PageBar">


          <!--TAB ITEMS-->
          <div id="TabItems">

            <!--INPUT TITLE-->
            <div class="TabEdit active">
              <div class="TabTitle" placeholder="...untitled" contenteditable="true"></div>
            </div>

          <!--END TAB ITEMS-->
          </div>

                               <!--ADD-->
    <div id="AddButton">
      <a href="/{{.Globals.AdminSlug}}/pages/add/"> + </a>
    </div>

    <div class="clear"></div>
          <!--END PAGEBAR-->
          </div>

<!--GUTTER
<div id="PageBarGutter"></div>-->

<!--
    <div id="form_page_title"><label>Title</label>
      <br>
      <input id="input_title" type="input" name="title" placeholder="Enter your title here..." class="control_forms" />

      <div id="form_page_slug"><input id="input_slug" type="input" name="slug" placeholder="/enter-your-title-here" class="control_forms" /></div> 

    </div>

    <div id="form_page_content"><label>Content</label>-->
    
      <!--START EDITOR-->
      <div id="form_page_editor">



           
<!--
            <div class="TabEdit">
              <input id="input_title" type="input" name="title" placeholder="untitled..." width="100%"  data-autosize-input='{ "space": 0 }' class="control_forms" size="1px" autofocus>
            </div>

            <div class="TabEdit">
              <input id="input_title" type="input" name="title" placeholder="untitled..." width="100%"  data-autosize-input='{ "space": 0 }' class="control_forms" size="1px" autofocus>
            </div>

            -->

<!--VUE JS
<div id="appVue">
    ${title}
</div>-->

 



              


          <!--EDITOR-->
          <textarea id="text_area_content" name="content" rows="3" cols="25"  class="control_forms"></textarea>
      <div id="editor_bottom_gutter">
        <div id="gutter_white"></div>
      </div>
      <!--END FORM PAGE EDITOR-->
      </div>

<!--END CENTER PANEL-->
 </div>

<!--TAB BUTTONS
    <div id="buttons">
    <a id="btn1" href="#tab1">Editor</a>
    <a id="btn2" href="#tab2">SEO</a>
    </div>

<!--TABS
    <div id="tabs">

    <!--TAB1
    <div class="tab" id="tab1">
      <!--TEXT AREA HEADER
      <div id="form_page_editor">
            <textarea id="text_area_content" name="content" rows="3" cols="25"  class="control_forms"></textarea>
      </div>
  
    </div>

    <!--TAB2
    <div class="tab" id="tab2">
    
    <!--SEO
    <details id="SEO_BOX">
    <summary>SEO</summary>
    <div id="SEO_BOX_BG">
    <br />
    <br>
    </div>
    </details>
    <div id="PAGES_SEO_TAB">
      <div id="form_page_slug"><label>URL</label><input id="input_slug" type="input" name="slug" placeholder="/enter-your-title-here" class="control_forms" /></div> 
      <div id="form_page_desc"><label>Description</label><br/><input type="input" name="description" placeholder="Description" class="control_forms" /></div>
      <div id="form_page_keyw"><label>Keywords</label><br/><input type="input" name="keywords" placeholder="Keywords" class="control_forms" /></div>
      <div id="form_page_single"><label>Single Page</label><input id="input_single" type="checkbox" value="1" name="single" class="control_forms" /></div> 

    </div>

    </div>
    
<!--END TABS
</div>-->

<!--START RIGHT PANEL-->

<div id="RightPanel" class="panel">

    <!--SIDEBAR-->
    <div id="Sidebar">

    <!--CLOSE BTN-->
    <div id="SidebarCloseBtn"> ><br />> </div>

    <div class="clear"></div>

        <!--DOCUMENT BUTTONS-->
        <div id="DocBtns">
                <!--SAVE-->
            <div id="form_page_savebtn">
              <input type="submit" value="Save" class="button" title="ctrl+s" />
            </div>

        <!--END DOC BTNS-->
        </div>

    <!--OPTIONS-->
    <details id="OPTIONS_BOX" open>
    <summary></summary>
    <div id="OPTIONS_BOX_BG">


       <div id="form_page_slug"><label>URL</label><input id="input_slug" type="input" name="slug" placeholder="/enter-your-title-here" class="control_forms" /></div> 
            <div id="form_page_pagetitle"><label>Page Title</label><br/><input id="input_page_title" type="input" name="pagetitle" placeholder="Page Title" class="control_forms" /></div>

      <div id="form_page_desc"><label>Description</label><br/><input type="input" name="description" placeholder="Description" class="control_forms" /></div>
      <div id="form_page_keyw"><label>Keywords</label><br/><input type="input" name="keywords" placeholder="Keywords" class="control_forms" /></div>
      <div id="form_page_single">

      <!-- <label>Single Page</label><input id="input_single" type="checkbox" value="1" name="single" class="control_forms" />-->
      <label>Single Page</label>
      <label class="switch">
        <input id="input_single" name="single" type="checkbox" value="1" class="control_forms">
        <div class="slider round"></div>
    </label>

      </div> 

    </div>
    </details>

<!--TAB BUTTONS
    <div id="buttons">
    <a id="btn1" href="#tab1">Options</a>
    <a id="btn2" href="#tab2">Recent List</a>
    </div>-->

<!--TABS
    <div id="tabs">
-->
    <!--TAB1
    <div class="tab" id="tab1">
  
    </div>-->

    <!--TAB2
    <div class="tab" id="tab2">-->
 
     <!--RECENT LIST
     <details id="RECENT_BOX" open>
     <summary>Recent List</summary>
    <div id="BOX_BG">
        <table id="List">
        {{range $k,$v := .List}}
          <tr>
            <td>
              <a href="/{{$.Globals.AdminSlug}}/pages/edit/{{$v.key}}" class="listItem">{{$v.title}}</a>
            </td>
            <td class="deleteItemTD">
              <a href="/{{$.Globals.AdminSlug}}/pages/delete/{{$v.key}}" class="deleteItem">x</a>
            </td>
          </tr> 
            
        {{end}}
        </table>-->

      <!--END LIST
    </div>
    </details>
    </div>-->

    <!--END TABS
    </div>-->




    <!--ADVANCED
    <details open>
    <summary>Advanced</summary>
    <div id="form_page_template"><label>Template</label><br/><input type="input" name="template" placeholder="Template" class="control_forms" /></div>
    <div id="form_page_js"><label>JS</label><br/><input type="input" name="js" placeholder="JS" class="control_forms" /></div>
    <div id="form_page_css"><label>CSS</label><br/><input type="input" name="css" placeholder="CSS" class="control_forms" /></div>
    <br>
    </details>-->





 

    <div class="clear"></div>

    <!--END SIDEBAR-->
    </div>

        <input type="hidden" name="token" value="{{/*.token*/}}" />
        <input type="hidden" name="tabItemNum"  />



<!--END RIGHT PANEL-->
</div>





<!--END EDITOR-->
</div>

  <!--END FORM-->
  </form>

<!--END SECTION-->
</section>