<template id="TheHeader" :info="info">
  
    <!--HEADER-->
    <div id="header" class="columns">

      <!--MENU TABS-->
      <div id="menu" class="column is-8">

        <app-tabs :type="type"></app-tabs>

        <!--CURRENT USER
        <div class="column">
          <span class="icon is-small">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </span>
          <span>${userinfo.currentUser}</span>
        </div>
        -->

      </div> 

      <!--MENU OTHER-->
      <div id="menu-top" class="column">

        <div class="columns">



    


      <!--VIEW SITE-->
      <div class="column is-3">
        <span class="icon is-small">
          <i class="fa fa-sitemap" aria-hidden="true"></i>
        </span>
        <span>
          <a href='/' target="_blank">View Site</a>
        </span>
      </div>

      <!--LOGOUT-->
      <div class="column is-3">
        <span class="icon is-small">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </span>
        <span>
          <a :href="logout">Logout</a>
        </span>
      </div>
      

          <!--CURRENT USER-->
<div id="UserInfo" class="column is-6">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <span>${userinfo.currentUser}</span>
  </div>

  </div>

    </div>    


</template>

<script>
module.exports = {

  template: '#TheHeader',
  delimiters: ['${', '}'],
  props: ['type','logout','adminurl'],
  components: {
    'app-tabs': httpVueLoader('/admin/static/dir/vue/app_tabs.vue'),
  },
    data: function() {
    return {
      userinfo: Object,
    }
  },
  mounted: function(){
        
        
      var self = this;
      var adminURL = self._props.adminurl;

       //LOAD SETTINGS USER INFO
             $.ajax({
               type: "GET",
                url: "/" + adminURL + "/settings/userinfo",
                success: function(res){
                  console.log(res);
                  console.log(self);
                  self.userinfo = res;
               }
             });
        
  },
  methods: {

/*
     mainTabClick: function(e){
              
          e.preventDefault();

            console.log(e);

          if(e.target.tagName == "A"){
            var hash = e.target.hash;
            var num = hash.substr(-1);
            var btns = e.currentTarget.children;
            
            $.each(btns,function(key,val){
                var tab = "#main_tab"+String(key+1);
                  $(tab).css('zIndex',0);
                var btn = $(btns[key]);
                    btn[0].className = "";
            });


            $(hash).css('zIndex',1);
            $("#main_btn"+num).addClass('active is-active');

             app.type = num;

             var newURL = "";
            
            if(app.type == '1'){
              newURL = "/{{.Globals.AdminSlug}}/pages/list/";
              //pageItem.url =  "/{{.Globals.AdminSlug}}/pages/list/";
            }

            if(app.type == '2') {
              newURL = "/{{.Globals.AdminSlug}}/style/";
             // styleItem.url = "/{{.Globals.AdminSlug}}/style/";
            }


            //CHANGE FORM URL
           // $("#EditForm").attr('action',newURL);

          
          //END IF
          }


        //END BUTTONS CLICK
        }*/

  //END METHODS
  }
}
</script>

<style>
#menu-top {
  padding-top: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-right: 25px;
  height: 55px;
}
</style>