<template id="AppTabs">
  

      <!--APP TAB BUTTONS-->
        <div class="tabs">
          <ul id="app_buttons"  @click="mainTabClick">
                
                <li id="app_btn1">
                  <a href="#app_tab1">
                    <span class="icon is-small"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                    <span>PAGES</span>
                  </a>
                </li>


                <li id="app_btn2">
                  <a href="#app_tab2">
                    <span class="icon is-small"><i class="fa fa-file-code-o" aria-hidden="true"></i></span>
                    <span>STYLES</span>
                  </a>
                </li>
                
                <li id="app_btn3">
                  <a href="#app_tab3">
                    <span class="icon is-small"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                    <span>THEMES</span>
                  </a>
                </li>

                <li id="app_btn4">
                  <a href="#app_tab4">
                    <span class="icon is-small"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                    <span>IMAGES</span>
                  </a>
                </li>
                
                <li id="app_btn5">
                  <a href="#app_tab5">
                    <span class="icon is-small"><i class="fa fa-gear" aria-hidden="true"></i></span>
                    <span>SETTINGS</span>
                  </a>
                </li>

            </ul>
        </div>

</template>

<script>
/************************* APP TABS****************************/


module.exports = {

  template: '#AppTabs',
  delimiters: ['${', '}'],
  props: ['type'],
  mounted: function(){


        //1ST BTN ACTIVE
        $("#app_btn1").addClass('active is-active');
        //$("#app_tab1").css('zIndex', 1); //<-- MOVED TO pages_editor.vue

        //ref="btn1"
        //const elem = this.$refs.btn1
        //elem.click()
        //this.mainTabClick();

  },
   methods: {


     mainTabClick: function(e){
              
          e.preventDefault();

            console.log(e);

          if(e.target.tagName == "A"){
            var hash = e.target.hash;
            var num = hash.substr(-1);
            var btns = e.currentTarget.children;
            
            $.each(btns,function(key,val){
                var tab = "#app_tab"+String(key+1);
                  $(tab).css('zIndex',0);
                var btn = $(btns[key]);
                    btn[0].className = "";
            });


            $(hash).css('zIndex',1);
            $("#app_btn"+num).addClass('active is-active');

             app.type = num;

/*
             var newURL = "";
            
            if(app.type == '1'){
              newURL = "/"+app.adminurl+"/pages/list/";
              //pageItem.url =  "/{{.Globals.AdminSlug}}/pages/list/";
            }

            if(app.type == '2') {
              newURL = "/"+app.adminurl+"/style/";
             // styleItem.url = "/{{.Globals.AdminSlug}}/style/";
            }

*/
            //CHANGE FORM URL
           // $("#EditForm").attr('action',newURL);

          
          //END IF
          }


        //END BUTTONS CLICK
        }

  //END METHODS
  }
}
</script>