<!--******************************* EDITOR FILES*******************************-->
<template id="EditorFiles">

    <!--EDITOR-->
    <div class="CenterEditor">


<!--RECENT IMAGE LIST-->
<div id="ImgList">

   <!--
    {{range $k,$v := .List}}
      <div id="img_{{$k}}" class="recentImg">
          <div class="thumbShell">
            <a href="/images/{{$v.title}}" target="_blank" class="listImgItem lightbox">
            <img class="thumb" src="/images/mobile/{{$v.title}}" />
            </a>
          </div>
          
          <!--VIEW FULL 
          <a href="/images/{{$v.title}}" target="_blank"  class="viewFull">^</a>

          <!--DELETE BTN 
          <a href="/{{$.Globals.AdminSlug}}/files/delete/{{$v.key}}" data-name="{{$v.title}}" data-num="{{$k}}" class="deleteItem">x</a>
          
      </div>

    {{end}}-->


      <div v-for="(item,row) in files" class="recentImg">
          <div class="thumbShell">
            <a :href="'/images/' + item.title" target="_blank" class="listImgItem lightbox">
            <img class="thumb" :src="'/images/mobile/' + item.title" />
            </a>
          </div>
          
          <!--VIEW FULL -->
          <a :href="'/images/' + item.title" target="_blank"  class="viewFull">
            <span class="icon is-small">
              <i class="fa fa-external-link" aria-hidden="true"></i>
              </span>
          </a>

          <!--DELETE BTN -->
          <a :href="'/'+adminurl+'/files/delete/'+ item.key" :data-row="row" data-name="" data-num="" class="deleteItem">
            <span class="icon is-small">
             <i class="fa fa-trash-o" aria-hidden="true"></i>
             </span>
          </a>
          
      </div>

   
<!--END IMAGE LIST-->
</div>

    <!--END CENTER EDITOR-->
    </div>

</template>





<script>
/************************* EDITOR FILES ****************************/
module.exports = {
  template: '#EditorFiles',
  props: ['files','adminurl'],
  delimiters: ['${', '}'],
  data: function(){
   return fileItem;
  },
  mounted: function(){

  },

  methods: {
   
   
  //END METHODS
  }

//END COMP
}
</script>


<!--CSS-->
<style>


#ProcessImgMsg {
  text-align: center;
  font-family: sans-serif,arial;
  font-variant: small-caps;
  font-size: 14px;
  color: #555;
}

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('/admin/static/dir/bg_clear_black.png');
  z-index: 9999;
  top: 0px;
  left: 0px;
  display: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}

#lightbox img {
  height: 90%;
  width: auto;
  max-width: 1000px;
  margin: 2% auto;

}

img#lb_img {
  border: 0px solid #fff;
}

  #shell {
    margin-top: 0px;
    margin-left: 280px;
  }

#InputFileUpload {
  cursor: pointer;
}

#ProgressBar {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: none;
}


#UploadShell {
  width: 90%;
  height: 490px;
  background: #ffffcc;
  padding: 3%;
  border: 2px dashed #ccc;
  border-radius: 4px;
  float: left;
  margin-top: 0px;
  margin-left: 5px;
}

#ImgList {
  width: auto;
  min-height: 490px;
  background: transparent;
  border-left: 0px solid #ccc;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}


.panel {
  width: 100%;
  padding: 20px;
}
.recentImg {
  width: auto;
  height: 120px;
  border: 1px solid #999;
  float: left;
  margin: 0px 20px 50px 0px;
  padding: 10px;
  text-align: right;
  border-radius: 3px;
  background: #fff;

}
  .thumbShell {
    height: 100px;
    width: 100px;
    overflow: hidden;
    background: #333;
  }
  .thumb {
    height: 130%;
    width:auto;
    margin-left: -50%;
  }

  img.thumb {
    max-width: inherit;
  }

  section#contentFiles {
    width: 100%;
  }


#SubmitBtn  {
    width: 100%;
    padding: 10px;
    font: 10px arial;
    color: #fff;
  display: block;
  background: #555;
  border: 0px;
  border-radius: 4px;
  margin-left: 0px;
    margin-top: 10px;
    display: none;
  text-transform: uppercase;
}
#SubmitBtn:hover {
  background: #999;
  cursor: pointer;

}

#ProcessImgMsg {
  display: none;
}

.viewFull {
  float: left;
  padding-top: 10px;
  font-size: 18px;
}

.deleteItem{
  float: right;
  padding-top: 15px;
  font-size: 13px;
}
</style>