<!--******************************* OPTIONS PAGES*******************************-->
<template id="OptionsPages">

    <!--OPTIONS-->
    <details id="Options" open>
    <summary>Options</summary>
     
       <div class="field">
       <label class="label">URL</label>
       <input id="input_slug" type="input" name="slug" v-model="slug" placeholder="/enter-your-title-here" class="input control_forms" />
      </div>

  <div class="field">

      <label class="label">Page Title</label>
      <input id="input_page_title" type="input" name="pagetitle" v-model="pagetitle" placeholder="Page Title" class="input control_forms" />
      </div>

        <div class="field">

      <label class="label">Description</label>
      <input type="input" name="description" placeholder="Description" v-model="description" class="input control_forms" />
      </div>
  <div class="field">

      <label class="label">Keywords</label>
      <input type="input" name="keywords" placeholder="Keywords" v-model="keywords" class="input control_forms" />
</div>

  <div class="field">

      <label class="label">Single Page</label>
      <label class="switch">
        <input id="input_single" name="single" type="checkbox" value="1" v-model="single" class="checkbox control_forms">
        <div class="slider round"></div>
      </label>
</div>
    </details>

</template>

<script>
/************************* OPTIONS PAGES ****************************/
module.exports = {
  template: '#OptionsPages',
  props: ['items'],
  delimiters: ['${', '}'],
  data: function(){
   return pageItem;
  }
}
</script>