<!--******************************* PANEL RIGHT*******************************-->
<template id="Panel-Right">
  
  <!--RIGHT PANEL-->
  <div id="RightCol">

    <!--CLOSE
    <panel-btn-right></panel-btn-right>
    -->

    <div class="columns">
      
      <!--SAVE-->
      <div class="column is-half">
        <panel-btn-save ref="saveBtn" v-if="ignoreSave != true"></panel-btn-save>
      </div>

      <!--NEW-->
      <div class="column is-one-third">
        <panel-btn-new ref="newBtn" v-if="ignoreNew != true"></panel-btn-new>
      </div>

    </div>

    <!--OPTIONS PAGES-->
    <options-pages :items="items" v-if="type == '1'"></options-pages>

    <!--OPTIONS THEMES-->
    <options-themes :themes="themes" v-if="type == '3'"></options-themes>

    <!--OPTIONS FILES-->
    <options-files  :adminurl="adminurl" v-if="type == '4'"></options-files>

        <!--OPTIONS SETTINGS-->
    <options-settings  :adminurl="adminurl" v-if="type == '5'"></options-settings>


                <panel-left :items="items" :styles="styles" :themes="themes" :files="files" :adminurl="adminurl" :type="type"></panel-left>


  <!--END RIGHT PANEL-->
  </div>

</template>

<script>
//COMP PANEL RIGHT
module.exports = {
  template: '#Panel-Right',
  components: {
    'panel-btn-save': httpVueLoader('/admin/static/dir/vue/btn_save.vue'),
    'panel-btn-new': httpVueLoader('/admin/static/dir/vue/btn_new.vue'),
    'options-pages': httpVueLoader('/admin/static/dir/vue/pages_options.vue'),
    'options-themes': httpVueLoader('/admin/static/dir/vue/themes_options.vue'),
    'options-files': httpVueLoader('/admin/static/dir/vue/files_options.vue'),
    'options-settings': httpVueLoader('/admin/static/dir/vue/settings_options.vue'),
              'panel-left': httpVueLoader('/admin/static/dir/vue/panel_left.vue'),

  },
  computed: {
    ignoreNew: function(){
      var ignore = false;
      if(this.type == '3' || this.type == '4' || this.type == '5'){
        ignore = true; 
      } 
      return ignore;
    },
    ignoreSave: function(){
      
      var ignore = false;
      if(this.type == '4'){
        ignore = true; 
      } 
      return ignore;
    }
  },
  props: ['items','themes','type','adminurl','files','styles']
}
</script>