<!--******************************* EDITOR SETTINGS*******************************-->
<template id="EditorSettings">

    <!--EDITOR-->
    <div class="CenterEditor">

 

     <!-- SITE SETTINGS-->
    <h3 class="formTitle"></h3>


    <!-- SWITCH ONLINE/OFFLINE-->
    <div id="Site_Switch">
      <label>Offline</label>
      <label class="switch">
        <input id="input_single"  v-model="settings.site_online" name="site_online" type="checkbox" class="control is-large control_forms" />
        <div class="slider round"></div>
      </label>
       <label>Online</label>
     </div>
 
 <br><br>
     <!--SITE TITLE-->
 
          <label>Site Title</label>

      <div class="field">
  <div class="control has-icons-left">
              <input type="text" v-model="settings.site_title" name="site_title" placeholder="Site Title"  class="input control is-large control_forms" />
      <span class="icon is-medium is-left">
        <i class="fa fa-home"></i>
      </span>
  </div>
</div>

<br><br>
      
      <!--SITE EMAIL-->
        <label>Admin Email</label>
   <div class="field">
      <div class="control has-icons-left">

              <input type="input" v-model="settings.admin_email" name="admin_email" placeholder="Email"  class="input control is-large control_forms" />

      <span class="icon is-medium is-left">
        <i class="fa fa-envelope"></i>
      </span>
 
    </div>
    </div>
          <br><br>
      <!--SITE COMING SOON URL-->
     <label>Soon URL</label>

      <div class="field">
  <div class="control has-icons-left">
            <input type="text" v-model="settings.soon_url" name="soon_url" placeholder="Soon URL" class="input control is-large control_forms" />

      <span class="icon is-medium is-left">
        <i class="fa fa-wrench"></i>
      </span>
  </div>
</div>
          

          <!-- CACHE

             <div><label>Google Analytics</label><br/><input type="input" name="site_analytics" placeholder="UA-1234-0"  class="control_forms" /></div>

          <div><label>Cache Control</label><br/><input type="input" name="cache_control" placeholder="Cache Control"  class="control_forms" /></div>
        
          <div><label>Cache Days</label><br/><input type="input" name="cache_days" placeholder="Cache Days"  class="control_forms" /></div>
     
          <div><label>Cache Months</label><br/><input type="input" name="cache_months" placeholder="Cache Months"  class="control_forms" /></div>
   -->

      <!-- IMAGES
     <details open>
     <summary> Image Settings</summary>

          <h3 class="formTitle">Images</h3>
          <p>Coming Soon!</p>
    </details> -->

    <!--END CENTER EDITOR-->
    </div>

</template>



<script>
/************************* EDITOR SETTINGS ****************************/
module.exports = {
  template: '#EditorSettings',
  props: ['adminurl'],
  delimiters: ['${', '}'],
 /* data: function(){
    return {
      settings: Object,
    }
  },*/
  data: function(){
    return {
     settings: Object
    }
  },
  mounted: function() {

    var self = this;
     var adminURL = self._props.adminurl;

        //LOAD THEMES DATA
             $.ajax({
               type: "GET",
                url: "/"+adminURL+"/settings",
                success: function(res){
                  console.log(res[0]);
                
                  self.settings = res[0];
               }
             });
     

  },

    methods: {

        saveSettings: function(){

              var self = this;
          //   var adminURL = self._props.adminurl;

              console.log(self.settings);
              console.log(this.settings);

              //AJAX
              $.ajax({
                 type: "POST",
                 url: "/admin/settings/",
                 data: self.settings,
                 success: function(res){

                  console.log(res);


                    //ALERT
                    alertify.set('notifier','position', 'top-right');
                    alertify.success(res.message);

                    //IF KEY
                    if(res.key){
                      //addListItem(res);
                    } else {
                      //updateListItem(res.title);
                    }


                 }
               });

        //END SAVE
        }


  //END METHODS
  }
}
</script>