<!--******************************* EDITOR STYLES*******************************-->
<template id="EditorStyles">

    <!--EDITOR-->
    <div class="CenterEditor">

          <!--PAGEBAR/TITLE INPUT-->
      <div id="PageBar" class="field">
  <div class="control has-icons-left">
                 <!--STYLE FILENAME-->
                  <input  v-model="style_name" id="input_version" @keyup="updateTitle" type="input" name="style_name" placeholder="Stylesheet..." class="input is-large control_forms" value="" />
      <span class="icon is-medium is-left">
        <i class="fa fa-file-code-o"></i>
      </span>
  </div>
</div>


          <!--EDITOR-->
          <textarea id="text_area_styles" name="style_sheet" rows="3" cols="25"  v-model="style_sheet" class="control_forms"></textarea>

    </div>

</template>


<script>
/************************* EDITOR STYLES ****************************/
module.exports = {
  template: '#EditorStyles',
  props: ['styles'],
  delimiters: ['${', '}'],
  data: function(){
   return styleItem;
  },
  mounted: function(){
                //INIT EDITOR STYLES
               app.editorStyles = CodeMirror.fromTextArea(document.getElementById("text_area_styles"), {
                  lineNumbers: true,
                  tabSize: 2,
                  //value: startVal,
                  indentWithTabs: true,
                  mode: 'text/css',
                  autoCloseTags: {
                    whenOpening: true,
                    indentTags: 'none'
                  }

                });

              //SET SIZE
              app.editorStyles.setSize("99%","100%");
  },
  methods: {
    updateTitle: function(e){
        
        e.preventDefault();

        //if(NewItem){
          //if(app.isNewBool){

            //GET/SET TITLE
            var title = styleItem.style_name;
           // pageItem.pagetitle = title;


            //STRING TO URL
            //title = title.trim();
            title = title.replace(/\s/g,"-");
            title = title.toLowerCase();
           // title = title.replace(/[^a-zA-Z0-9\-]/gi,"-");
           // title = title.replace(/\s+/g, '-') // No Whitespace
           // title = title.replace(/-+/g, '-'); //  No Dashes


            //ASSIGN TITLE TO SLUG
           styleItem.style_name = title;

         // }

    //END FUNC UPDATE TITLE
    },

    saveStyle: function(e) {
  
              var titleVal = styleItem.style_name; //$("#input_title")[0].value;
              var editorVal = app.editorStyles.getValue();


              //var textareaItem = $("#EditForm textarea[name='content']");
              var textareaItem = $("#text_area_styles");
                  textareaItem[0].value = editorVal;

              //CHECK URL
              if(styleItem.url === "") {
                 styleItem.url = '/'+app.adminurl+'/style/';
              }

              //SET ITEM VALUE
              styleItem.style_sheet = editorVal;

                  
              //CHECK TITLE
              if(titleVal === ""){
                //ALERT
                swal(
                'No Title!',
                'You forgot to enter a Title',
                'error'
                ).catch(swal.noop);

                return;
              }

              //CHECK EDITOR
              if(editorVal === ""){
                //ALERT
                swal(
                'No Content!',
                'You did not enter any CSS Content',
                'error'
                ).catch(swal.noop);

                return;
              }

              //GET IDE TEXT
              //pageItem.content = editorVal;
              // myTextarea.innerHTML = editorVal;
               //textareaItem.innerHTML = editorVal;



             // var serialData = $("#EditForm").serialize();
              //var serialData2 = encodeURIComponent(pageItem);
             // var serialData2 = pageItem.serialize();

                  //AJAX
                  $.ajax({
                     type: "POST",
                    //contentType: "application/json",
                    //dataType: 'json',
                     url: styleItem.url,
                    // data: serialData,
                    data: styleItem,//JSON.stringify(pageItem),
                     success: function(res){

                        console.log(res);

                           swal(
                            res.message,
                            'Item was saved successfully!',
                            'success'
                          ).catch(swal.noop);

                        
                        //IF KEY -> NEW ITEM
                        if(res.key){

                              console.log(res);

                              var newObj = {
                                StyleName: res.StyleName,
                                key: res.key
                              }

                            //ADD TO LIST
                            app.styles.push(newObj);                     


                            //SET DATA
                            styleItem.row = String(app.styles.length-1);
                            styleItem.url = '/'+res.adminSlug+'/style/edit/'+res.key;


                            

                            //UPDATE FORM ACTION
                           // var form = $("#EditForm");
                                //form.attr('action',titleURL);

                            

                            //SET NEWNESS
                           // app.isNewBool = false;

                        //NO KEY-> OLD ITEM
                        } else {
                          
                              //UPDATE LIST ITEM
                              var changedRow = Number(styleItem.row);
                              app.styles[changedRow].StyleName = styleItem.style_name;
                              //app.styles[changedRow].slug = pageItem.slug;

                        }

                    //END SUCCESS
                    }

                   //END AJAX 
                   });


    //END SAVE STYLE
    }


  //END METHODS
  }

}
</script>