<!--******************************* EDITOR THEMES*******************************-->
<template id="EditorThemes">

    <!--EDITOR-->
    <div class="CenterEditor">

          <!--PAGEBAR/TITLE INPUT-->
                <div id="PageBar" class="field">
  <div class="control has-icons-left">
            <input id="input_version" v-model="core_version" type="input" name="core_version" placeholder="Theme..."  class="input is-large control_forms" value="" />

      <span class="icon is-medium is-left">
        <i class="fa fa-paint-brush"></i>
      </span>
  </div>
</div>



          <!--TABS-->
          <div id="tabs">

              <!--TAB1 - HEADER-->
              <div class="tab" id="tab1">
                  <textarea id="text_area_header" v-model="core_header" name="core_header" rows="3" cols="25" class="control_forms"></textarea>
            </div>

              <!--TAB2 - FOOTER-->
              <div class="tab" id="tab2"> 
                  <textarea id="text_area_footer" v-model="core_footer" name="core_footer" rows="3" cols="25" class="control_forms"></textarea>
              </div>

          <!--END TABS-->
          </div>

    <!--END CENTER EDITOR-->
    </div>

</template>



<script>
/************************* EDITOR THEMES ****************************/
module.exports = {
  template: '#EditorThemes',
  props: ['themes'],
  delimiters: ['${', '}'],
  data: function(){
   return themeItem;
  },
  mounted: function(){


        //EDITOR HEADER
       app.editorHeader = CodeMirror.fromTextArea(document.getElementById("text_area_header"), {
          lineNumbers: true,
          tabSize: 2,
          indentWithTabs: true,
          mode: 'text/html'  
        });

         app.editorHeader.setSize("99%","100%");

      //EDITOR FOOTER
       app.editorFooter = CodeMirror.fromTextArea(document.getElementById("text_area_footer"), {
          lineNumbers: true,
          tabSize: 2,
          indentWithTabs: true,
          mode: 'text/html'  
        });

         app.editorFooter.setSize("99%","100%");

        //INITIAL HIDE
        $("#tab2").hide();



  },

    methods: {
   
      saveTheme: function(){

              var titleVal = styleItem.style_name; //$("#input_title")[0].value;
              var editorHeaderVal = app.editorHeader.getValue();
              var editorFooterVal = app.editorFooter.getValue();


              //var textareaItem = $("#EditForm textarea[name='content']");
              var textareaHeader = $("#text_area_header");
                  textareaHeader[0].value = editorHeaderVal;
              
              var textareaFooter = $("#text_area_footer");
                  textareaFooter[0].value = editorFooterVal;

                  //ADDED TO MAKE WORK, why doesnt vue update value though?
                  themeItem.core_header = editorHeaderVal;
                  themeItem.core_footer = editorFooterVal;
             

        

                  //AJAX
                  $.ajax({
                     type: "POST",
                     url: themeItem.url,
                    data: themeItem,
                     success: function(res){

                        console.log(res);

                        
                           swal(
                            res.message,
                            'Item was saved successfully!',
                            'success'
                          ).catch(swal.noop);
                          
                        
                        //IF KEY -> NEW ITEM
                        if(res.key){

                              console.log(res);

                            /*
                              var newObj = {
                                StyleName: res.StyleName,
                                key: res.key
                              }

                            //ADD TO LIST
                            app.styles.push(newObj);                     


                            //SET DATA
                            styleItem.row = String(app.styles.length-1);
                            styleItem.url = '/'+res.adminSlug+'/style/edit/'+res.key;

                            */
                            

                            //UPDATE FORM ACTION
                           // var form = $("#EditForm");
                                //form.attr('action',titleURL);

                            

                            //SET NEWNESS
                           // app.isNewBool = false;

                        //NO KEY-> OLD ITEM
                        } else {
                          
                          /*
                              //UPDATE LIST ITEM
                              var changedRow = Number(styleItem.row);
                              app.styles[changedRow].StyleName = styleItem.style_name;
                              //app.styles[changedRow].slug = pageItem.slug;
                            */
                        }

                    //END SUCCESS
                    }

                   //END AJAX 
                   });

      }

  //END METHODS
  }
}
</script>