<!--******************************* LIST THEMES*******************************-->
<template id="ListThemes">
  
    <!--RECENT LIST-->
    <table id="FullList">
      <thead>
        <tr>
          <th>Name <span class='icon is-small'><i class="fa fa-sort" aria-hidden="true"></i></span></th>
         <!-- <th data-sort-method='none'></th>-->
          <th data-sort-method='none'></th>
        </tr>
      </thead>
  <tbody>
    <tr v-for="(item,row) in themes">
      <td class="itemEditTD">
        <a :href="'/'+adminurl+'/core/edit/'+item.key" :data-row="row"  class="listItem" @click="loadItem">
          <span class='icon is-small'>
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </span>
        ${item.CoreVersion}</a>
      </td>

<!--
      <td class="viewItemFullTD">
        <a :href="item.slug" target="_blank" :data-row="row"  class="viewItemFull">
          <span class='icon is-small'>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </span>
        </a>
      </td>
      -->
 
      <td class="deleteItemFullTD">
        <a :href="'/'+adminurl+'/core/delete/'+ item.key" :data-row="row" class="deleteItemFull" @click="deleteItem">
            <span class='icon is-small'>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</template>

<script>
/************************* LIST THEMES ****************************/
module.exports = {
  template: '#ListThemes',
  props: ['themes','adminurl'],
  delimiters: ['${', '}'],
  mounted: function(){

             //TABLESORT PAGES LIST
              //app.sortList = new Tablesort(document.getElementById('FullList'), {
                //descending: false
              //});
  },
   methods: {
              loadItem: function(e){

              //PREVENT DEFAULT
                  e.preventDefault();

                  //RESET FORM
                  //app.$options.methods.ResetForm();
                  //app.$refs.rightPanel.$refs.newBtn.$refs.newItem.click();


                  //NewItem = false;
                  app.isNewBool = false;

                  //GRAB URL
                  var url = e.target.href;
                  var row = e.target.dataset.row;

                  //CHANGE FORM URL
                  $("#EditForm").attr('action',url);

                  //AJAX LOAD SINGLE ITEM
                  $.ajax({
                    url:url,
                    success:function(resp){

                      var res = resp;
                      console.log(app);
                      console.log(res);

                      $("#tab2").show();
  
                      
                      //SET DATA
                      themeItem.core_header = res[0].CoreHeader;
                      themeItem.core_footer = res[0].CoreFooter;
                      themeItem.core_version = res[0].CoreVersion;
                      themeItem.url = url;
                      themeItem.row = row;
                      
                      //EDITOR SET VALUE
                      app.editorHeader.setValue(themeItem.core_header);
                      app.editorFooter.setValue(themeItem.core_footer);
                      

                      $("#tab2").hide();
                       $("#btn1").addClass('is-active');
                       $("#btn1").removeClass('is-outlined');
                    }

                  //END AJAX 
                  });

              //END LOAD FUNC
              },

                deleteItem: function(e){
                
                //PREVENT DEFAULT
                e.preventDefault();
                
                //GRAB URL
                var url = e.target.href;

                //GRAB ROW INDEX
                var row = Number(e.target.dataset.row);

                //CONFIRM DIALOG
                swal({
                  title: 'Delete Item',
                  text: "Are you sure you want to delete this item?",
                  type: 'error',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: true

                }).then(function () {

                        //AJAX
                        $.ajax({
                           type: "POST",
                           url: url,
                           success: function(res){

                              //RESET FORM              
                              app.$options.methods.ResetForm();               
                              
                              //DELETE ROW
                              app.items.splice(row,1);

                              //app.sortList.refresh();
                               
                              //ALERT
                                swal(
                                  'Deleted!',
                                  res,
                                  'success'
                                );
                           }

                        //END AJAX
                        });


                }).catch(swal.noop);


            //END DELETE FUNC  
            }

        //END METHODS
        }
  }

//END COMP  
//}
</script>